body {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden !important;
}

.bg-img-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  filter: blur(2px);
}
.bg-img-wrap img {
  width: 100%;
  position: absolute;
}

.mobile-wrap {
  width: 320px;
  height: 550px;
  background-color: #f3f3f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-wrap {
  overflow-y: auto;
  overflow-x: hidden;
}
.mobile-wrap .section-top {
  position: relative;
  height: 250px;
  background: url("https://images.unsplash.com/photo-1489092080646-4a271a132179?dpr=1&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=") no-repeat 0 0/cover;
  z-index: 0;
}
.mobile-wrap .section-top .section-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #403839;
  opacity: 0.5;
  z-index: -1;
}
.mobile-wrap .section-top:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f3f3f3;
  transform: skew(0deg, 9deg) translateY(25px);
}
.mobile-wrap .header {
  padding: 20px 15px 10px;
}
.mobile-wrap .header .burger-menu {
  width: 40px;
  height: 30px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: transform 0.45s ease;
}
.mobile-wrap .header .burger-menu span {
  width: 80%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.35s cubic-bezier(0.82, 0.01, 0.19, 1.01);
}
.mobile-wrap .header .burger-menu span:nth-child(1) {
  top: 4px;
}
.mobile-wrap .header .burger-menu span:nth-child(2) {
  top: 13px;
}
.mobile-wrap .header .burger-menu span:nth-child(3) {
  top: 22px;
}
.mobile-wrap .header .burger-menu.active {
  transform: rotate(360deg);
}
.mobile-wrap .header .burger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.mobile-wrap .header .burger-menu.active span:nth-child(2) {
  opacity: 0;
}
.mobile-wrap .header .burger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.mobile-wrap .header .header-text,
.mobile-wrap .header .more-button {
  display: inline-block;
  padding-top: 7px;
  vertical-align: top;
  cursor: pointer;
}
.mobile-wrap .header .header-text {
  margin-left: 7px;
  font-family: "Arimo", sans-serif;
  color: #fff;
}
.mobile-wrap .header .more-button {
  float: right;
}
.mobile-wrap .header .more-button span {
  display: inline-block;
  width: 3px;
  height: 3px;
  border: solid 1px #fff;
  border-radius: 50%;
}
.mobile-wrap .profile-wrap {
  padding: 35px 15px 15px;
  display: flex;
}
.mobile-wrap .profile-wrap .avatar {
  width: 50px;
  height: 50px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}
.mobile-wrap .profile-wrap .avatar img {
  width: 100%;
}
.mobile-wrap .profile-wrap .info-wrap {
  display: inline-block;
  align-self: center;
  color: white;
  font-family: "Arimo", sans-serif;
}
.mobile-wrap .profile-wrap .info-wrap .name {
  font-size: 26px;
}
.mobile-wrap .profile-wrap .info-wrap .job-title {
  font-size: 14px;
}
.mobile-wrap .section-bottom {
  position: relative;
}
.mobile-wrap .section-bottom .float-button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #cd3455;
  right: 20px;
  top: -30px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s cubic-bezier(0.36, 0, 0.17, 1.66);
  transform-origin: center;
  z-index: 2;
}
.mobile-wrap .section-bottom .float-button span {
  height: 1px;
  position: absolute;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}
.mobile-wrap .section-bottom .float-button span:nth-child(1) {
  width: 25px;
  top: 20px;
  transition: width 0.2s ease;
}
.mobile-wrap .section-bottom .float-button span:nth-child(2) {
  width: 15px;
  top: 26px;
  transition: width 0.2s ease 0.1s;
}
.mobile-wrap .section-bottom .float-button span:nth-child(3) {
  width: 7px;
  top: 32px;
  transition: width 0.2s ease 0.15s;
}
.mobile-wrap .section-bottom .float-button:hover {
  transform: scale(1.1);
}
.mobile-wrap .section-bottom .float-button:hover span:nth-child(2), .mobile-wrap .section-bottom .float-button:hover span:nth-child(3) {
  width: 25px;
}
.mobile-wrap .section-bottom .float-button.opened {
  transform: rotate(90deg);
  background-color: #a52944;
}
.mobile-wrap .section-bottom .float-button.opened span:nth-child(1) {
  transform: rotate(45deg) translate(-50%, -50%);
  top: 67%;
  left: 40%;
}
.mobile-wrap .section-bottom .float-button.opened span:nth-child(2) {
  opacity: 0;
}
.mobile-wrap .section-bottom .float-button.opened span:nth-child(3) {
  transform: rotate(-45deg) translate(-50%, -50%);
  top: 32%;
  left: 43%;
  width: 25px;
}
.mobile-wrap .section-bottom .float-button-content {
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.35s cubic-bezier(0.36, 0, 0.17, 1.66);
}
.mobile-wrap .section-bottom .float-button-content .icon {
  color: white;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.mobile-wrap .section-bottom .float-button-content .icon-1 {
  top: 20px;
  right: 70px;
}
.mobile-wrap .section-bottom .float-button-content .icon-2 {
  top: 44px;
  right: 112px;
}
.mobile-wrap .section-bottom .float-button-content .icon-3 {
  top: 91px;
  right: 108px;
}
.mobile-wrap .section-bottom .float-button-content .icon-4 {
  top: 114px;
  right: 70px;
}
.mobile-wrap .section-bottom .float-button-content.showed {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #cd3455;
  right: -30px;
  top: -78px;
  border-radius: 50%;
  transform: scale(1);
  z-index: 1;
  transition: transform 0.2s cubic-bezier(0.36, 0, 0.17, 1.66);
}
.mobile-wrap .section-bottom .float-button-content.showed .icon {
  opacity: 1;
}
.mobile-wrap .content-wrap {
  padding: 0px 15px 15px 35px;
  position: relative;
}
.mobile-wrap .content-wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  width: 1px;
  height: 100%;
  background-color: #A7A8B2;
}
.mobile-wrap .content-wrap .header .title {
  font-family: "Arimo", sans-serif;
  font-size: 32px;
  margin-bottom: 10px;
}
.mobile-wrap .content-wrap .header .date {
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  color: #A7A8B2;
  letter-spacing: 1px;
}
.mobile-wrap .content-wrap .list-content .list-items {
  list-style-type: none;
  padding-left: 15px;
  position: relative;
}
.mobile-wrap .content-wrap .list-content .list-items .item {
  display: inline-block;
  margin: 15px 0;
  width: 100%;
  position: relative;
}
.mobile-wrap .content-wrap .list-content .list-items .item .title {
  margin-bottom: 7px;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
}
.mobile-wrap .content-wrap .list-content .list-items .item .subject {
  color: #A7A8B2;
  font-size: 16px;
}
.mobile-wrap .content-wrap .list-content .list-items .item .time {
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 14px;
}
.mobile-wrap .content-wrap .list-content .list-items .item:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  background-color: #51C6BF;
  top: 5px;
  left: -32px;
}
.mobile-wrap .content-wrap .list-content .list-items .item:nth-child(1):before {
  background-color: #EEB611;
}
.mobile-wrap .content-wrap .list-content .list-items .item:nth-child(2):before {
  background-color: #51C6BF;
}
.mobile-wrap .content-wrap .list-content .list-items .item:nth-child(3):before {
  background-color: #cd3455;
}
.mobile-wrap .menu-wrap {
  position: absolute;
  width: 79%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 9;
  transform: translateX(-100%);
  transition: transform 0.35s cubic-bezier(0, 0.32, 0.19, 1.01) 0.1s;
}
.mobile-wrap .menu-wrap .menu-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #3d3d3d;
  z-index: 10;
  transform: scale(0, 1);
}
.mobile-wrap .menu-wrap.opened {
  transform: translateX(0);
}
.mobile-wrap .menu-wrap.opened .menu-overlay {
  -webkit-animation: overlay-in 0.6s forwards;
          animation: overlay-in 0.6s forwards;
}
.mobile-wrap .menu-wrap .menu-list {
  margin-top: 30px;
  padding: 50px 20px 15px;
  list-style-type: none;
}
.mobile-wrap .menu-wrap .menu-list .menu-item {
  display: block;
  font-size: 22px;
  margin-left: 50px;
  margin-top: 30px;
  cursor: pointer;
  position: relative;
  color: #3d3d3d;
}
.mobile-wrap .menu-wrap .menu-list .menu-item:before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  color: #EEB611;
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  transition: all 0.35s cubic-bezier(0.81, 0.01, 0.33, 0.99);
}
.mobile-wrap .menu-wrap .menu-list .menu-item:hover:before {
  width: 100%;
}
.mobile-wrap .content {
  transition: transform 0.35s cubic-bezier(0, 0.32, 0.19, 1.01) 0.1s;
}
.mobile-wrap .content.menu-opened {
  transform: translateX(79%);
}

@-webkit-keyframes overlay-in {
  0% {
    transform-origin: left center;
    transform: scale(0, 1);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform-origin: right center;
    transform: scale(0, 1);
  }
}

@keyframes overlay-in {
  0% {
    transform-origin: left center;
    transform: scale(0, 1);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform-origin: right center;
    transform: scale(0, 1);
  }
}