@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif:400,400i,700,700i';
*:not(.material-icons, .ri) {
    font-family: "PT Serif", serif;
    transition: all 0.3s ease-in-out !important;
}

html {
    width: 100%;
}

body {
    margin-top: calc(100vh + 50px);
    width: 100%;
}

.head:after {
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.head .twrapper {
    margin-bottom: 50px;
    width: 38%;
}

.head .twrapper .title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid #aaa;
}

.head .twrapper .title>h1 {
    font-size: 55px;
    color: #fff;
    line-height: 1.3;
}

.head .twrapper .title>h3 {
    font-size: 24px;
    font-style: italic;
    color: #bbb;
    line-height: 1.3;
    padding-bottom: 10px;
}

.head .twrapper .author {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding-top: 15px;
}

.head .twrapper .author>h1,
.head .twrapper .author h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.head .twrapper .author>h3 {
    font-size: 13px;
    color: #bbb;
    text-transform: uppercase;
    line-height: 1.3;
}

.head .twrapper .author>h1 {
    font-size: 18px;
    color: #fff;
    line-height: 1.3;
}

.text {
    max-width: calc(38% + 10px);
    margin: 50px auto;
    font-size: 17px;
    line-height: 1.3;
}

.text>blockquote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
}

.text>blockquote>h1 {
    font-size: 25px;
    color: #626262;
    font-style: italic;
}

.text>blockquote>h1:before {
    content: "“";
}

.text>blockquote>h1:after {
    content: "”";
}

.text>blockquote>h3:before {
    content: " — ";
}

.text>ul {
    list-style: initial;
    padding: 0 35px;
}

.text>h1 {
    font-size: 30px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.15;
}

.text>h2 {
    font-size: 23px;
    color: rgba(0, 0, 0, 0.44);
    line-height: 1.22;
}

.text>h3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.58;
}

.text>b {
    font-size: 17px;
    font-weight: 700;
}

.text>a {
    color: inherit;
}

.back {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin: 25px 0;
}

.back>hgroup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.back>hgroup>h1 {
    color: #aaa;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.back>hgroup>h1:first-child {
    transform: rotate(90deg);
}

.back>hgroup>h1:last-child {
    font-size: 12px;
    line-height: 1.4;
    text-transform: uppercase;
}

.btn {
    padding: 17px 25px;
    border: 2px solid #2e58cc;
    color: #2e53cc;
    border-radius: 10000px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.btn:hover {
    color: #fff;
    background-color: #2e38cc;
}

.btn>.material-icons {
    font-size: 14px;
    padding-right: 5px;
}

section.share {
    padding: 60px;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-up {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.next-up>* {
    height: 255px;
    padding: 0 60px;
    min-width: calc(50% - 120px);
    flex-grow: 1;
    background-size: 110%;
    background-position: center;
    overflow: hidden;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.next-up>*:after {
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.next-up>*>h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 25px;
    position: absolute;
    left: 60px;
    top: 60px;
}

.next-up>*>h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 25px;
    position: absolute;
    left: 60px;
    top: 60px;
}

.next-up>*>hgroup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.next-up>*>hgroup>h1 {
    font-size: 27px;
    color: #fff;
    line-height: 1.3;
}

.next-up>*>hgroup>h3 {
    font-size: 24px;
    font-style: italic;
    color: #bbb;
    line-height: 1.3;
}

.next-up>*:hover {
    background-size: 100%;
}

.share-buttons {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.share-buttons h1 {
    font-size: 24px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.share-buttons li {
    padding: 17px 25px;
    margin: 15px 0;
    font-size: 16px;
    background-color: #3b5998;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    text-align: left;
}

.share-buttons li:first-child {
    background-color: #DC4E41;
}

.share-buttons li:last-child {
    background-color: #55acee;
}

.share-buttons li .ri {
    margin-right: 15px;
    font-size: 20px;
}

.share-buttons li .ri.ri-gplus {
    margin-right: 10px;
}

#progress {
    height: 8px;
    background-color: rgba(10, 82, 190, 0.75);
    position: fixed;
    top: 0;
    left: 0;
}

.icon-bar {
    width: 100%;
    background-color: #ffffff;
    overflow: auto position: fixed;
    font-size: 20pt;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 6px 0;
    transition: all 0.3s ease;
    color: #bfbfbf;
    background-color: #ffffff;
}

.footerx {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    font-size: 20pt;
}

@media (max-width: 767px) {
    .modal-fullscreen-xs-down {
        padding: 0 !important;
    }
    .modal-fullscreen-xs-down .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .modal-fullscreen-xs-down .modal-content {
        height: auto;
        min-height: 100%;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
    }
}

@media (max-width: 991px) {
    .modal-fullscreen-sm-down {
        padding: 0 !important;
    }
    .modal-fullscreen-sm-down .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .modal-fullscreen-sm-down .modal-content {
        height: auto;
        min-height: 100%;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
    }
}

@media (max-width: 1199px) {
    .modal-fullscreen-md-down {
        padding: 0 !important;
    }
    .modal-fullscreen-md-down .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .modal-fullscreen-md-down .modal-content {
        height: auto;
        min-height: 100%;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
    }
}

.modal-fullscreen {
    padding: 0 !important;
}

.modal-fullscreen .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-fullscreen .modal-content {
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
}

.btn-open-modal {
    margin-bottom: 0.5em;
}

.centerx {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4em 0 0;
}

@media only screen and (max-width: 768px) {
    .next-up>.right {
        display: none;
    }
    .text {
        max-width: calc(100% - 60px);
        margin: 30px auto;
    }
    body {
        margin-top: calc(100vh + 25px);
    }
    .head .twrapper {
        width: calc(100% - 60px);
    }
}

.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
    .modal-sm {
        width: 300px
    }
}

@media (min-width:992px) {
    .modal-lg {
        width: 900px
    }
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}

.w3-bar {
    width: 100%;
    overflow: hidden
}

.w3-center .w3-bar {
    display: inline-block;
    width: auto
}

.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.w3-bar .w3-dropdown-hover,
.w3-bar .w3-dropdown-click {
    position: static;
    float: left
}

.w3-bar .w3-button {
    white-space: normal
}

.w3-bar-block .w3-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.w3-bar-block.w3-center .w3-bar-item {
    text-align: center
}

.w3-black,
.w3-hover-black:hover {
    color: #fff!important;
    background-color: rgb(50, 47, 230)!important
}

.w3-right-align {
    text-align: right!important
}

.w3-right {
    float: right!important
}

.w3-btn,
.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.w3-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.w3-btn,
.w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.w3-disabled,
.w3-btn:disabled,
.w3-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.w3-disabled *,
 :disabled * {
    pointer-events: none
}

.logo {
    position: fixed;
    top: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
}

.logo img {
    height: 26px;
    width: auto;
    display: block;
}

button,
input,
select,
textarea,
optgroup {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

.w3-border-0 {
    border: 0!important
}

.w3-round-large {
    border-radius: 8px
}

button,
input,
select,
textarea,
optgroup {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

utton:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav a {
    font-size: 18px;
}