@import url("https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap");
:root {
  --red: #db0c41;
  --blue: #11176d;
  --grey: #efeff1;
  --duration: 0.7s;
  --ease: cubic-bezier(0.6, 0, 0.4, 1);
  --nav-height: 25vh;
  --item-height: 2.5rem;
}

*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  background: var(--blue);
  font-family: Raleway, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-height: 100%;
  display: grid;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--grey);
  width: 90%;
  min-height: 70vh;
  margin: auto;
}

/* ---------------------------------- */
.logo {
  grid-column: 1;
  grid-row: 1;
  font-size: 1.2rem;
  align-self: center;
  justify-self: start;
  z-index: 10;
  padding: 0.25em 1em;
}

.content {
  display: grid;
  align-content: center;
  padding: 0% 10% 0 15%;
  overflow: hidden;
}

.nav-title {
  margin: 0;
  font-size: 2.3rem;
  font-weight: 800;
}

.active-nav {
  background-color: var(--red);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  color: white;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  grid-column: 1;
  grid-row: 1;
  padding: 1rem;
  height: var(--nav-height);
  width: 100%;
  margin: auto;
  padding-left: 10vmin;
  white-space: nowrap;
  max-width: 30em;
}
.active-nav > img {
  display: block;
  max-width: 55%;
  height: auto;
  width: auto;
  position: absolute;
  right: 70%;
  top: -60%;
  bottom: -30%;
  margin: auto;
  grid-column: 1;
  grid-row: 1 / -1;
  pointer-events: none;
}

.nav-title {
  width: 60%;
  height: 2.3em;
}

/* ---------------------------------- */
.secondary-nav {
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  list-style: none;
  margin: auto;
  padding: 0;
  left: 10%;
  color: var(--blue);
  -webkit-transition: -webkit-transform var(--duration) var(--ease);
  transition: -webkit-transform var(--duration) var(--ease);
  transition: transform var(--duration) var(--ease);
  transition: transform var(--duration) var(--ease), -webkit-transform var(--duration) var(--ease);
  -webkit-transform: translateY(calc( ( var(--nav-total) - var(--selected) ) * var(--item-height) ));
          transform: translateY(calc( ( var(--nav-total) - var(--selected) ) * var(--item-height) ));
}

.secondary-nav-item {
  cursor: pointer;
  list-style: none;
  text-transform: uppercase;
  height: var(--item-height);
  white-space: nowrap;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  font-weight: bold;
  -webkit-transition: opacity var(--duration) linear, -webkit-transform var(--duration) var(--ease);
  transition: opacity var(--duration) linear, -webkit-transform var(--duration) var(--ease);
  transition: opacity var(--duration) linear, transform var(--duration) var(--ease);
  transition: opacity var(--duration) linear, transform var(--duration) var(--ease), -webkit-transform var(--duration) var(--ease);
  -webkit-transform: translateY(calc( var(--item-height) +  (var(--nav-height) * -1) ));
          transform: translateY(calc( var(--item-height) +  (var(--nav-height) * -1) ));
}
.secondary-nav-item[data-selected] {
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.secondary-nav-item[data-selected] ~ .secondary-nav-item {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.secondary-nav-item > span {
  color: var(--color-blue);
  display: inline-block;
}

/* ---------------------------------- */
.header-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-nav > .header-nav-item {
  position: absolute;
  top: 0;
  left: 0;
}

.header-nav-item {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
}
.header-nav-item > span {
  display: inline-block;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  visibility: hidden;
  -webkit-transition: visibility 0.01s linear, -webkit-transform var(--duration) var(--ease);
  transition: visibility 0.01s linear, -webkit-transform var(--duration) var(--ease);
  transition: transform var(--duration) var(--ease), visibility 0.01s linear;
  transition: transform var(--duration) var(--ease), visibility 0.01s linear, -webkit-transform var(--duration) var(--ease);
  -webkit-transition-delay: 0s, var(--duration);
          transition-delay: 0s, var(--duration);
}
.header-nav-item > span ~ span {
  -webkit-transition-duration: calc(var(--duration) * 1.1), 0.01s;
          transition-duration: calc(var(--duration) * 1.1), 0.01s;
}
.header-nav-item[data-selected] > span {
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  -webkit-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s;
}
.header-nav-item[data-selected] ~ .header-nav-item > span {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}