<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Flex columns - cards</title>
    <link rel='stylesheet' href='https://shared.uoit.ca/global-2.1/dist/css/test.css'>
    <link rel="stylesheet" href="./flexcc.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="page-content">
        <div class="row card-grid  card-grid-bgcolor card-grid-center">
            <section class="columns">
                <a href="design/index.php" onclick="ga('send','event','button','click','lp_Brand Central - Design')">
                    <div class="block pink">
                        <span class="icon_pencilholder"></span>
                        <div class="contents">
                            <h2 class="header">Design</h2>
                            <p class="description">Visual identities, digital, print and signage brand resources</p>
                        </div>
                        <div class="bgcolor pink"></div>
                    </div>
                </a>
            </section>
            <section class="columns">
                <a href="guidelines/index.php" onclick="ga('send','event','button','click','lp_Brand Central - Guidelines')">
                    <div class="block green">
                        <span class="icon_checkbox"></span>
                        <div class="contents">
                            <h2 class="header">Guidelines</h2>
                            <p class="description">Accessibility, events, writing, web, and social media guidelines and tools</p>
                        </div>
                        <div class="bgcolor green"></div>
                    </div>
                </a>
            </section>
            <section class="columns">
                <a href="templates/index.php" onclick="ga('send','event','button','click','lp_Brand Central - Templates')">
                    <div class="block purple">
                        <span class="icon_paper"></span>
                        <div class="contents">
                            <h2 class="header">Templates</h2>
                            <p class="description">eStore, stationery and marketing materials, letterhead, presentation, promotional and digital signage templates</p>
                        </div>
                        <div class="bgcolor purple"></div>
                    </div>
                </a>
            </section>
            <section class="columns">
                <a href="design/index.php" onclick="ga('send','event','button','click','lp_Brand Central - Design')">
                    <div class="block pink">
                        <span class="icon_pencilholder"></span>
                        <div class="contents">
                            <h2 class="header">Design</h2>
                            <p class="description">Visual identities, digital, print and signage brand resources</p>
                        </div>
                        <div class="bgcolor pink"></div>
                    </div>
                </a>
            </section>
        </div>

        <div class="row card-grid  card-grid-bgcolor card-grid-animate-text card-grid-image card-grid-adv">
            <section class="columns">
                <a href="uoit-impact.php" onclick="ga('send','event','button','click','lp_ConnectingU - UOIT Impact')" title="UOIT Impact">
                    <div class="block advyellow">
                        <!-- <div class="overlay" style="background-image: url(https://giving.uoit.ca/_files/images/deco-tri-purple-1.png); background-position: -20px -20px;"></div> -->
                        <span class="icon_bookuoit"></span>
                        <div class="contents">
                            <h2 class="header">UOIT Impact</h2>
                            <p class="description">Our economic impact, development plans, research and President's Report</p>
                            <!-- <a class="button" href="http://externalrelations.uoit.ca/economic-impact.php" onclick="ga('send','event','button','click','lp_ConnectingU - UOIT Impact')" title="UOIT Impact">Learn more</a> -->
                        </div>
                        <div class="bgcolor advyellow"></div>
                        <div class="image" style="background-image: url(https://giving.uoit.ca/_files/images/deco-tri-purple-1.png); background-position: -20px -20px;"></div>
                        <!-- <div class="bgicon icon_bookuoit"></div> -->
                    </div>
                </a>
            </section>
            <section class="columns">
                <a href="https://testing2.uoit.ca/connectingu/news/index.php" onclick="ga('send','event','button','click','lp_ConnectingU - Front page news')" title="Front page news">
                    <div class="block advblue">
                        <span class=" icon_megaphone"></span>
                        <div class="contents">
                            <h2 class="header">Front page news</h2>
                            <p class="description">Read more about how we're super awesome and in the news and stuff</p>
                            <!-- <a class="button" href="faculty-profile-page.php" onclick="ga('send','event','button','click','lp_ConnectingU - Front page news')" title="Front page news">Read more</a> -->
                        </div>
                        <div class="bgcolor advblue"></div>
                        <div class="image" style="background-image: url(https://giving.uoit.ca/_files/images/deco-tri-yellow-1.png); background-position: calc(100% + 10px) -10px;"></div>
                        <!-- <div class="bgicon icon_megaphone"></div> -->
                    </div>
                </a>
            </section>
            <section class="columns">
                <a href="http://events.uoit.ca/" onclick="ga('send','event','button','click','lp_ConnectingU - University event calendar')" title="University event calendar">
                    <div class="block advpurple">
                        <span class="icon_calendar"></span>
                        <div class="contents">
                            <h2 class="header">University event calendar</h2>
                            <p class="description">Happenings and such</p>
                            <!-- <a class="button" href="faculty-profile-page.php" onclick="ga('send','event','button','click','lp_ConnectingU - University event calendar')" title="University event calendar">Find out what's happening</a> -->
                        </div>
                        <div class="bgcolor advpurple"></div>
                        <div class="image" style="background-image: url(https://giving.uoit.ca/_files/images/deco-tri-yellow-2.png); background-position: calc(100% + 60px) 90%;"></div>
                        <!-- <div class="bgicon icon_calendar"></div> -->
                    </div>
                </a>
            </section>
        </div>



        <div class="row card-grid card-grid-bgcolor card-grid-image card-grid-center">
            <!-- CARD BLOCK -->
            <section class="columns ">
                <div class="block pink">
                    <span class="icon icon_cursor"></span>
                    <div class="contents">
                        <h2 class="header">pink</h2>
                        <p class="description">Fancy lil' description that should truncate when it gets too long, because long descriptions are a buzzkill.</p>
                        <a class="button">This button</a>
                    </div>
                    <div class="bgcolor pink"></div>
                    <div class="image" style="background-image:url('https://virtualtour.uoit.ca/assets/images/north_bg.jpg');" ng-if="elements.img"></div>
                </div>
            </section>
            <!-- /BLOCK -->
            <!-- CARD BLOCK -->
            <section class="columns">
                <div class="block greendarkest">
                    <span class="icon icon_gradcap"></span>
                    <div class="contents">
                        <h2 class="header">green darkest</h2>
                        <p class="description">Fancy lil' description that truncates when it gets too long, because long descriptions are a total buzzkill.</p>
                        <a class="button">This button</a>
                    </div>
                    <div class="bgcolor greendarkest"></div>
                    <div class="image" style="background-image:url('https://virtualtour.uoit.ca/assets/images/north_bg.jpg');" ng-if="elements.img"></div>
                </div>
            </section>
            <!-- /BLOCK -->

            <!-- CARD BLOCK -->
            <section class="columns">
                <div class="block green">
                    <span class="icon icon_gradcap"></span>
                    <div class="contents">
                        <h2 class="header">green</h2>
                        <p class="description">Fancy lil' description that truncates when it gets too long, because long descriptions are a total buzzkill.</p>
                        <a class="button">This button</a>
                    </div>
                    <div class="bgcolor green"></div>
                    <div class="image" style="background-image:url('https://virtualtour.uoit.ca/assets/images/north_bg.jpg');" ng-if="elements.img"></div>
                </div>
            </section>
            <!-- /BLOCK -->

            <!-- CARD BLOCK -->
            <section class="columns">
                <div class="block orange">
                    <span class="icon icon_hazard"></span>
                    <div class="contents">
                        <h2 class="header">orange</h2>
                        <p class="description">Fancy lil' description that truncates when it gets too long, because long descriptions are a total buzzkill.</p>
                        <a class="button">This button</a>
                    </div>
                    <div class="bgcolor orange"></div>
                    <div class="image" style="background-image:url('https://virtualtour.uoit.ca/assets/images/north_bg.jpg');" ng-if="elements.img"></div>
                </div>
            </section>
            <!-- /BLOCK -->

            <!-- CARD BLOCK -->
            <section class="columns">
                <div class="block lightblue">
                    <span class="icon icon_cursor"></span>
                    <div class="contents">
                        <h2 class="header">Light blue</h2>
                        <p class="description">Fancy lil' description that should truncate when it gets too long, because long descriptions are a buzzkill.</p>
                        <a class="button">This button</a>
                    </div>
                    <div class="bgcolor lightblue"></div>
                    <div class="image" style="background-image:url('https://virtualtour.uoit.ca/assets/images/north_bg.jpg');" ng-if="elements.img"></div>
                </div>
            </section>
            <!-- /BLOCK -->

            <!-- CARD BLOCK -->
            <section class="columns">
                <div class="block pinkdarkest">
                    <span class="icon icon_cursor"></span>
                    <div class="contents">
                        <h2 class="header">pink darkest</h2>
                        <p class="description">Fancy lil' description that should truncate when it gets too long, because long descriptions are a buzzkill.</p>
                        <a class="button">This button</a>
                    </div>
                    <div class="bgcolor pinkdarkest"></div>
                    <div class="image" style="background-image:url('https://virtualtour.uoit.ca/assets/images/north_bg.jpg');" ng-if="elements.img"></div>
                </div>
            </section>
            <!-- /BLOCK -->
        </div>


    </div>
    <!-- partial -->
    <script src='https://shared.uoit.ca/global-2.1/dist/js/jquery.min.js'></script>
    <script src='https://shared.uoit.ca/global-2.1/dist/js/global.js'></script>
</body>

</html>