body {
  font-family: "Arial", sans-serif;
}

.loader-overlay {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
}
.loader-overlay .loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loader-overlay .loader svg {
  width: 50px;
  margin: 10px;
}

.loader {
  padding: 1.5em 1em;
  text-align: center;
}

.loader__title {
  font-size: 13 px;
  color: black;
  font-weight: bold;
  margin: 1em 0;
}

.loader__text {
  font-size: 12px;
  color: gray;
  margin: 1em 0;
}

@-webkit-keyframes el_KRvF4KGESHg_LFZN9aMpl_Animation {
  86.67% {
    -webkit-transform: translate(12px, 0px);
    transform: translate(12px, 0px);
  }
  0% {
    -webkit-transform: translate(12px, 0px);
    transform: translate(12px, 0px);
  }
  100% {
    -webkit-transform: translate(12px, 0px);
    transform: translate(12px, 0px);
  }
}
@keyframes el_KRvF4KGESHg_LFZN9aMpl_Animation {
  86.67% {
    -webkit-transform: translate(12px, 0px);
    transform: translate(12px, 0px);
  }
  0% {
    -webkit-transform: translate(12px, 0px);
    transform: translate(12px, 0px);
  }
  100% {
    -webkit-transform: translate(12px, 0px);
    transform: translate(12px, 0px);
  }
}
@-webkit-keyframes el_KRvF4KGESHg_Animation {
  86.67% {
    opacity: 1;
  }
  93.33% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes el_KRvF4KGESHg_Animation {
  86.67% {
    opacity: 1;
  }
  93.33% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes el_KRvF4KGESHg_iDqATAu3m_Animation {
  80% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  86.67% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes el_KRvF4KGESHg_iDqATAu3m_Animation {
  80% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  86.67% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes el_eXC2J64-2wK_Animation {
  73.33% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes el_eXC2J64-2wK_Animation {
  73.33% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes el_eXC2J64-2wK_xXd_2a6iB_Animation {
  66.67% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  73.33% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes el_eXC2J64-2wK_xXd_2a6iB_Animation {
  66.67% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  73.33% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes el_9b4YuuALC5J_cjyW4HeUD_Animation {
  53.33% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  60% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes el_9b4YuuALC5J_cjyW4HeUD_Animation {
  53.33% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  60% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes el_9b4YuuALC5J_Animation {
  60% {
    opacity: 1;
  }
  66.67% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes el_9b4YuuALC5J_Animation {
  60% {
    opacity: 1;
  }
  66.67% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes el_0dEwKbgnWJY__C5gBoT0v_Animation {
  33.33% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px);
  }
  0% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px);
  }
  100% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px);
  }
}
@keyframes el_0dEwKbgnWJY__C5gBoT0v_Animation {
  33.33% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px);
  }
  0% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px);
  }
  100% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px);
  }
}
@-webkit-keyframes el_0dEwKbgnWJY_Animation {
  33.33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes el_0dEwKbgnWJY_Animation {
  33.33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes el_0dEwKbgnWJY_7bEMKLsr-_Animation {
  26.67% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  33.33% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes el_0dEwKbgnWJY_7bEMKLsr-_Animation {
  26.67% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  33.33% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes el_nj_qmdUW62_qv1xwqCnO_Animation {
  20% {
    -webkit-transform: translate(10px, 0px);
    transform: translate(10px, 0px);
  }
  0% {
    -webkit-transform: translate(10px, 0px);
    transform: translate(10px, 0px);
  }
  100% {
    -webkit-transform: translate(10px, 0px);
    transform: translate(10px, 0px);
  }
}
@keyframes el_nj_qmdUW62_qv1xwqCnO_Animation {
  20% {
    -webkit-transform: translate(10px, 0px);
    transform: translate(10px, 0px);
  }
  0% {
    -webkit-transform: translate(10px, 0px);
    transform: translate(10px, 0px);
  }
  100% {
    -webkit-transform: translate(10px, 0px);
    transform: translate(10px, 0px);
  }
}
@-webkit-keyframes el_nj_qmdUW62_Animation {
  20% {
    opacity: 1;
  }
  26.67% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes el_nj_qmdUW62_Animation {
  20% {
    opacity: 1;
  }
  26.67% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes el_nj_qmdUW62_4Y7w-pefq_Animation {
  13.33% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  20% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes el_nj_qmdUW62_4Y7w-pefq_Animation {
  13.33% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  20% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes el_l-a222F6LSw_y4QNfvisE_Animation {
  40% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  46.67% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes el_l-a222F6LSw_y4QNfvisE_Animation {
  40% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  46.67% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes el_l-a222F6LSw_Animation {
  46.67% {
    opacity: 1;
  }
  53.33% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes el_l-a222F6LSw_Animation {
  46.67% {
    opacity: 1;
  }
  53.33% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes el_SW0cB2JU24_Animation {
  6.67% {
    opacity: 1;
  }
  13.33% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes el_SW0cB2JU24_Animation {
  6.67% {
    opacity: 1;
  }
  13.33% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes el_SW0cB2JU24_xVPJcEO1n_Animation {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  6.67% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes el_SW0cB2JU24_xVPJcEO1n_Animation {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  6.67% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
#el_NLrue608j * {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_nAuHfxppt_ {
  stroke: none;
  stroke-width: 1;
  fill: none;
}

#el_SW0cB2JU24 {
  stroke: #000000;
  stroke-width: 3;
  -webkit-animation-name: el_SW0cB2JU24_Animation;
  animation-name: el_SW0cB2JU24_Animation;
  opacity: 1;
}

#el_T-QCoMw1AO {
  stroke: #000000;
  stroke-width: 3;
}

#el_y80WO1LCMb {
  stroke: #000000;
  stroke-width: 3;
}

#el_Dqk_KlmGLd {
  stroke: #000000;
  stroke-width: 3;
}

#el_S6luNRD2_m {
  stroke: #000000;
  stroke-width: 3;
}

#el_I8aAnmrIVO {
  stroke: #000000;
  stroke-width: 3;
}

#el_Ekfp-kpJki {
  stroke: #000000;
  stroke-width: 3;
}

#el_GLp8ImflYb {
  -webkit-transform: translate(12px, 67.4748px);
  transform: translate(12px, 67.4748px);
}

#el_ihec8gXrt_2 {
  stroke: #000000;
  stroke-width: 3;
}

#el_0dEwKbgnWJY {
  stroke: #000000;
  stroke-width: 3;
  -webkit-animation-name: el_0dEwKbgnWJY_Animation;
  animation-name: el_0dEwKbgnWJY_Animation;
  opacity: 1;
}

#el_ELALsF1Y461 {
  stroke: #000000;
  stroke-width: 3;
}

#el_LAIgXjYtGwf {
  stroke: #000000;
  stroke-width: 3;
}

#el_0Xp8Bfm9xY0 {
  stroke: #000000;
  stroke-width: 3;
}

#el_IhOitOXgcsO {
  stroke: #000000;
  stroke-width: 3;
}

#el_tGR88JXq-qo {
  stroke: #000000;
  stroke-width: 3;
}

#el_9b4YuuALC5J {
  stroke: #000000;
  stroke-width: 3;
  -webkit-animation-name: el_9b4YuuALC5J_Animation;
  animation-name: el_9b4YuuALC5J_Animation;
  opacity: 1;
}

#el_BfpbosISFTA {
  -webkit-transform: translate(9px, 1.8771px);
  transform: translate(9px, 1.8771px);
  stroke: #000000;
  stroke-width: 3;
}

#el_Hr-EwC-5zOc {
  stroke: #000000;
  stroke-width: 3;
}

#el_enIjR34EgCH {
  stroke: #000000;
  stroke-width: 3;
}

#el_HcQB3zS3QSb {
  stroke: #000000;
  stroke-width: 3;
}

#el_-0mPlUmxSla {
  stroke: #000000;
  stroke-width: 3;
}

#el_RxSImNySLz1 {
  stroke: #000000;
  stroke-width: 3;
}

#el_LkLOg7TpMMm {
  stroke: #000000;
  stroke-width: 3;
}

#el_XzhgLn2RNbK {
  stroke: #000000;
  stroke-width: 3;
}

#el_aVU1sORaNiH {
  stroke: #000000;
  stroke-width: 3;
}

#el_t3i1sxT0GMf {
  stroke: #000000;
  stroke-width: 3;
}

#el_BiqIHIu9l6I {
  stroke: #000000;
  stroke-width: 3;
}

#el_QY9FfgH3N42 {
  -webkit-transform: translate(0px, 70.8771px);
  transform: translate(0px, 70.8771px);
}

#el_DR3fK3poIaJ {
  stroke: #000000;
  stroke-width: 3;
}

#el_tdkskf43bG7 {
  stroke: #000000;
  stroke-width: 3;
}

#el_aHgMFimPkn5 {
  stroke: #000000;
  stroke-width: 3;
}

#el_LC7Ahd8BMHc {
  -webkit-transform: translate(0px, 1.6269px);
  transform: translate(0px, 1.6269px);
}

#el_fa0XdqMcQiB {
  -webkit-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
}

#el_m3m4q7VICFl {
  stroke: #000000;
  stroke-width: 3;
}

#el_bsJclKy8uJe {
  stroke: #000000;
  stroke-width: 3;
}

#el_Vp2v8W3Weqa {
  stroke: #000000;
  stroke-width: 3;
}

#el_4cj6vODn-Rw {
  stroke: #000000;
  stroke-width: 3;
}

#el_ZYQe10H3VqA {
  -webkit-transform: translate(0px, 22.6269px);
  transform: translate(0px, 22.6269px);
  stroke: #000000;
  stroke-width: 3;
}

#el_be2SBmV83Wn {
  stroke: #000000;
  stroke-width: 3;
}

#el_4iRXQrbjixR {
  -webkit-transform: translate(6px, 1.6269px);
  transform: translate(6px, 1.6269px);
  stroke: #000000;
  stroke-width: 3;
}

#el_kd5Za3CyO7Z {
  stroke: #000000;
  stroke-width: 3;
}

#el_hDFQ8iLXB_Z {
  stroke: #000000;
  stroke-width: 3;
}

#el_KRvF4KGESHg {
  stroke: #000000;
  stroke-width: 3;
  -webkit-animation-name: el_KRvF4KGESHg_Animation;
  animation-name: el_KRvF4KGESHg_Animation;
  opacity: 1;
}

#el_jA_BJasvwvp {
  stroke: #000000;
  stroke-width: 3;
  visibility: hidden;
}

#el_GQbBeO2SGkC {
  visibility: hidden;
}

#el_SW0cB2JU24_xVPJcEO1n {
  -webkit-animation-name: el_SW0cB2JU24_xVPJcEO1n_Animation;
  animation-name: el_SW0cB2JU24_xVPJcEO1n_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

#el_l-a222F6LSw {
  -webkit-animation-name: el_l-a222F6LSw_Animation;
  animation-name: el_l-a222F6LSw_Animation;
  opacity: 1;
}

#el_l-a222F6LSw_y4QNfvisE {
  -webkit-animation-name: el_l-a222F6LSw_y4QNfvisE_Animation;
  animation-name: el_l-a222F6LSw_y4QNfvisE_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

#el_nj_qmdUW62_4Y7w-pefq {
  -webkit-animation-name: el_nj_qmdUW62_4Y7w-pefq_Animation;
  animation-name: el_nj_qmdUW62_4Y7w-pefq_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

#el_nj_qmdUW62 {
  -webkit-animation-name: el_nj_qmdUW62_Animation;
  animation-name: el_nj_qmdUW62_Animation;
  opacity: 1;
}

#el_nj_qmdUW62_qv1xwqCnO {
  -webkit-animation-name: el_nj_qmdUW62_qv1xwqCnO_Animation;
  animation-name: el_nj_qmdUW62_qv1xwqCnO_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: translate(10px, 0px);
  transform: translate(10px, 0px);
}

#el_0dEwKbgnWJY_7bEMKLsr- {
  -webkit-animation-name: el_0dEwKbgnWJY_7bEMKLsr-_Animation;
  animation-name: el_0dEwKbgnWJY_7bEMKLsr-_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

#el_0dEwKbgnWJY__C5gBoT0v {
  -webkit-animation-name: el_0dEwKbgnWJY__C5gBoT0v_Animation;
  animation-name: el_0dEwKbgnWJY__C5gBoT0v_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: translate(20px, 0px);
  transform: translate(20px, 0px);
}

#el_9b4YuuALC5J_cjyW4HeUD {
  -webkit-animation-name: el_9b4YuuALC5J_cjyW4HeUD_Animation;
  animation-name: el_9b4YuuALC5J_cjyW4HeUD_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

#el_eXC2J64-2wK_xXd_2a6iB {
  -webkit-animation-name: el_eXC2J64-2wK_xXd_2a6iB_Animation;
  animation-name: el_eXC2J64-2wK_xXd_2a6iB_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

#el_eXC2J64-2wK {
  -webkit-animation-name: el_eXC2J64-2wK_Animation;
  animation-name: el_eXC2J64-2wK_Animation;
  opacity: 1;
}

#el_KRvF4KGESHg_iDqATAu3m {
  -webkit-animation-name: el_KRvF4KGESHg_iDqATAu3m_Animation;
  animation-name: el_KRvF4KGESHg_iDqATAu3m_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

#el_KRvF4KGESHg_LFZN9aMpl {
  -webkit-animation-name: el_KRvF4KGESHg_LFZN9aMpl_Animation;
  animation-name: el_KRvF4KGESHg_LFZN9aMpl_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: translate(12px, 0px);
  transform: translate(12px, 0px);
}