@import url(https://fonts.googleapis.com/css?family=Wire+One|Life+Savers|Flamenco|Bigelow+Rules|Underdog|Goudy+Bookletter+1911|Nixie+One|Tangerine|Poiret+One|Allura);
body {
    color: #aaaaaa;
    font-family: 'Goudy Bookletter 1911', serif;
    background-color: #222;
}

div {
    text-align: center;
    margin: 0px;
}

h1 {
    font-size: 64px;
    text-align: center;
    font-weight: 300;
    padding: .5em;
    margin: 0;
}

h2 {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

a {
	color: #aaaaaa;
	text-decoration: none;
}

a:hover {
	color: white;
}