* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

body {
  position: relative;
  background: #1a2a6c;
  background: -webkit-linear-gradient(
    #1a2a6c 0%,
    #b21f1f 33.3%,
    #fdbb2d 66.6%
  );
  background: linear-gradient(
    #1a2a6c 0%,
    #b21f1f 33.3%,
    #fdbb2d 66.6%
  );
}